<div>
<div class="message" id="message-board" onload="cycleMessage();">
	<div class="messages show">
		<h3>Welcome</h3>
		<p>Come and see how we do business. Through our sevice you
		will stay on track and know what is coming your way. <a href="#/register">Register...</a></p>
	</div>
	<div class="messages hide">
		<h3>About Us</h3>
		<p>Come and see how we do business. Through our sevice you
		will stay on track and know what is coming your way. <a href="#/register">Register...</a></p>
	</div>
	<div class="messages hide">
		<h3>Personal or Business?</h3>
		<p>Come and see how we do business. Through our sevice you
		will stay on track and know what is coming your way. <a href="#/register">Register...</a></p>
	</div>
</div>
</div>